---
import Default from "@layouts/Default.astro";
---

<Default
    description="Working every day to raise funds for Upper Peninsula families battling childhood cancer, the U.P. Lions Serve: Childhood Cancer program assembles initiatives to assist these families in paying for travel, medical, and household bills. We provide resources and connect families with life-changing programs, including Camp Quality, Maggie’s Wigs 4 Kids, and Kids Kicking Cancer."
>
    <!-- Main content here -->

    <!-- <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
    <script src="/childhoodcancer/assets/main.js"></script>
    <script src="/childhoodcancer/assets/anime.min.js"></script>
    <script src="home.js"></script> -->

    <div class="contain1">
        <div id="top"></div>
        <section id="mission" class="submain">
            <div class="landingAnim">
                <div class="container">
                    <div class="bg"></div>
                    <img src="/assets/animation/cc-landingAnim-circles.svg" class="bg"/>
                    <div class="fg">
                        <div></div>
                        <img src="/assets/brand/logo-fullcolor.svg"/>
                        <p class="fonta colorb big15 bold1">A U.P. Lions Serve Program</p>
                    </div>
                </div>
            </div>
            <h2 class="fontc colorb big125">Working every day to fundraise for <span class="bold1">U.P. families</span> battling childhood cancer.</h2>
            <div class="textBox">
                <p class="fontc colorb">
                    <span class="bold1">Our mission</span> is to serve children and families from the Upper Peninsula who are battling childhood cancer.<br />
                    <span class="bold1">Our program</span> assembles initiatives to help these families meet financial needs for travel, medical, and household bills.<br />
                    <span class="bold1">We provide</span> these families with other resources for getting care, including:<br />
                </p>
                <ul class="fontc colorb">
                    <li>Financial grants for Travel</li>
                    <li>Financial grants for Medical and Household bills including things like mortgage and groceries</li>
                    <li>Emotional support from Lions throughout the Upper Peninsula</li>
                    <li>Toys, cards, hats, quilts, pillowcases and more from U.P. Lions Clubs</li>
                </ul>
                <p class="fontc colorb">
                    <span class="bold1">We share</span> information and connect families to other nonprofits that may help, either in-person or remotely, such as:
                </p>
                <ul class="fontc colorb">
                    <li><a href="https://www.campqualityusa.org/mi" target="_blank" class="colorb"><span class="bold1">Camp Quality Michigan</span></a> serves children with cancer and their families by providing year-round programs and experiences at no cost. There are camps throughout Michigan at 4 different locations and are available to Upper Peninsula families.</li>
                    <li><a href="https://kidskickingcancer.org/" target="_blank" class="colorb"><span class="bold1">Maggie’s Wigs 4 Kids</span></a> provides hair and skin restoration services to our children in the U.P.</li>
                    <li><a href="https://www.wigs4kids.org/" target="_blank" class="colorb"><span class="bold1">Kids Kicking Cancer</span></a> provides martial arts and meditation/pain control classes to U.P. children and their siblings.<br /></li>
                </ul>
                <p class="fontc colorb">
                    <span class="bold1">Lions Clubs International has adopted Childhood Cancer as an initiative on a global level.</span>  Each year, more than 300,000 children are diagnosed with cancer across the world.*  This means that a child is diagnosed with cancer every 2 minute.*  The Lions have been exploring new ways in which Lions can help children with cancer in our own communities.<br />
                    <span class="bold1">Michigan is ranked 5th in the nation for annual number of pediatric cancer diagnoses.</span> 470 children are diagnosed in Michigan each year.**  Our program has connected with 65 families in the U.P. The Upper Peninsula has the largest number of children per capita diagnosed with cancer in Michigan.**  U.P. families face daunting challenges because they must travel out of our area for care.  Many times, one parent is forced to take an extended leave of absence or leave a job to be with their child. Medical treatment can go on for many years, leaving kids with physical, emotional, and sensory deficits.<br /><br />

                    * Statistics from the World Health organization<br />
                    ** Statistics from the Michigan Department of Health and Human Services
                </p>
                <p class="fontc colorb big125">Help us <span class="bold1">help them</span>.</p>
            </div>
            <a href="#donation" class="shortcutButton fontc colorb big125">
                I want to <span class="bold1">help</span>.
                <img class="shortcutImg" src="/assets/graphics/cc-coin.svg">
            </a>
        </section>
        <section id="heroes" class="submain">
            <div class="herosHeading fonta colora big2">
                <h2 id="heroDisplayTop">Meet our heroes</h2>
            </div>
            <section id="heroDisplay" class="heroDisplay">
                <div class="controls">
                    <a id="heroPrev" class="arrow inactive" href="#Cycle_hero_PREVIOUS">
                        <div class="arrow conShadow"></div>
                        <div class="arrow conButton"></div>
                        <img src="/assets/graphics/clickArrow.2.svg" class="arrowGraphic" alt="Cycle data graphic PREVIOUS">
                    </a>
                    <a id="heroNext" class="arrow" href="#Cycle_hero_NEXT">
                        <div class="arrow conShadow"></div>
                        <div class="arrow conButton"></div>
                        <img src="/assets/graphics/clickArrow.2.svg" class="arrowGraphic" alt="Cycle data graphic NEXT">
                    </a>
                </div>
                <div class="heroImgContain">
                    <img id="heroImg0" class="heroImg activeHeroImg" src="/assets/heroes/heroStory.1/Rylan.jpg" alt="Rylan, a brave young boy with high-risk neuroblastoma holding his favorite stuffed teddy bear.">
                    <img id="heroImg1" class="heroImg" src="/assets/heroes/heroStory.2/Preslie.jpg" alt="Preslie, a super-strong 4-year-old undergoing treatment at Children's Hospital, in Milwaukee Wisconsin poses with a fist toward the sky like a superhero.">
                    <img id="heroImg2" class="heroImg" src="/assets/heroes/heroStory.4/abram.jpg" alt="Abram, a beautiful 1-year-old boy who passed away July 2, 2019 from a choriocarcinoma brain tumor.">
                </div>
                <img class="heroImgBorder" src="/assets/heroes/heroRibbon.png">
                <div class="heroBackContain">
                    <img id="heroBack0" class="heroBack activeHeroBack" src="/assets/heroes/heroStory.1/heroBack.1.png" alt="Hand-drawn children's drawings of a baseball cap, a stuffed dog, and a playful puppy.">
                    <img id="heroBack1" class="heroBack" src="/assets/heroes/heroStory.2/heroBack.2.png" alt="Hand-drawn children's drawings of a superhero mask, a superhero cape, and an invisible hero flying with a cape and gloves on.">
                    <img id="heroBack2" class="heroBack" src="/assets/heroes/heroStory.4/heroBack.4.png" alt="Hand-drawn children's drawings of a pair of hearts (one big, one small), and a poem in handwritten type written by Abram's mother after his passing.">
                </div>
                <h3 id="heroName" class="heroName fontb colora big25">RYLAN</h3>
                <div class="container fontc colorb">
                    <p id="heroText1" class="bold1">Rylan, an Upper Peninsula 5-year-old who is being treated for high-risk neuroblastoma, is one of the children the Lions have helped.</p>
                    <p id="heroText2">His father is very grateful for the assistance as Rylan receives treatment at the University of Michigan hospitals in Ann Arbor, including surgery, chemotherapy, bone marrow transplants, and more. This treatment requires lengthy hospitalizations, keeping Rylan and his mom away from his father and siblings for months.</p>
                    <a href="#heroDisplayTop" class="toTop"><img src="/assets/graphics/toTop.svg" alt="BACK TO TOP OF HERO CONTAINER BUTTON"></a>
                </div>
            </section>
        </section>
        <section id="data" class="submain">
            <h2 class="subheading">Our statistics</h2>
            <section class="dataDisplay">
                <div class="controls">
                    <a id="dataPrev" class="arrow inactive" href="#Cycle_data_graphic_PREVIOUS">
                        <div class="arrow conShadow"></div>
                        <div class="arrow conButton"></div>
                        <img src="/assets/graphics/clickArrow.2.svg" class="arrowGraphic" alt="Cycle data graphic PREVIOUS">
                    </a>
                    <a id="dataNext" class="arrow" href="#Cycle_data_graphic_NEXT">
                        <div class="arrow conShadow"></div>
                        <div class="arrow conButton"></div>
                        <img src="/assets/graphics/clickArrow.2.svg" class="arrowGraphic" alt="Cycle data graphic NEXT">
                    </a>
                </div>
                <div class="dataContain">
                    <img src="/assets/data/data-0.jpg" alt="Line graph indicating a rise in families battling childhood cancer within our cause. At the start of our program, we had 3. Now there are 65 families." class="dataImg dataActive" id="dataImg0">
                    <img src="/assets/data/data-1.jpg" alt="Infographic depicting 11,000, the approximate number of children in the United States diagnosed with pediatric cancer in 2020." class="dataImg" id="dataImg1">
                    <img src="/assets/data/data-2.jpg" alt="Pie chart displaying the percentage of pediatric cancer patients who reach full recovery. As of 2020, 84 percent of kids diagnosed with cancer fully recover." class="dataImg" id="dataImg2">
                    <img src="/assets/data/data-3.jpg" alt="Infographic displaying over 3,000 US dollars being allocated to UP children with cancer for food, travel, medical expenses, and care camps." class="dataImg" id="dataImg3">
                    <img src="/assets/data/data-4.jpg" alt="Infographic distributing U.P. families discovered battling childhood cancer by county." class="dataImg" id="dataImg4"/>
                </div>
            </section>
            <section class="dataExplain">
                <img src="/assets/graphics/corner.1.svg">
                <p id="dataText1" class="fontc colorb">Since our project began, <span class="bold1">we have seen a rise in the number of families</span> living in the Upper Peninsula of Michigan seeking help with a child battling cancer.</p>
                <p id="dataText2" class="fontc colorb bold1 big125">As of December 2021, that number has increased by more than twenty-fold!</p>
                <a href="https://www.mininggazette.com/news/local-news/2020/09/lions-reaching-out-for-childhood-cancer-awareness-month/" target="_blank">
                    <p class="fontc colorb italic creds">Data acquired from the American Cancer Society & “UP Lions Clubs reaching out for Childhood Cancer Awareness Month” article written by Ann Wood for The Daily Mining Gazette on September 8th, 2020.</p>
                </a>
            </section>
        </section>
        <section id="howWeHelp" class="submain">
            <h2 class="helpHeading fonta colora big25 bold1">We help in more ways than one.</h2>
            <h3 class="helpHeading fontc colorb big125"><span class="bold1">Scroll through</span> the different ways we help below.</h3>
            <div class="howWeHelpMenu">
               <div id="howWeHelpMenuTextBtn" class="button activeButton howWeHelpMenuTextBtn">
                    <p id="howWeHelpMenuText" class="buttonText activeText">Press Center</p>
               </div>
               <div id="mobileExpandBtn" class="button inactiveButton">
                    <p id="mobileExpandText" class="buttonText">More</p>
                    <p id="dropDownArrow" class="buttonText">▶</p>
               </div>
               <div id="mobileDropDown">
                    <p id="pressCenter" class="buttonText dropDownText">Press Center</p>
                    <hr class="dropDownLines" />
                    <p id="media" class="buttonText dropDownText">Media</p>
                    <hr class="dropDownLines" />
                    <p id="partners" class="buttonText dropDownText">Partners</p>
                    <hr class="dropDownLines"/>
                    <p id="fundraising" class="buttonText dropDownText">Fundraising</p>
                    <hr class="dropDownLines"/>
                    <p id="photoGallery" class="buttonText dropDownText">Photo Gallery</p>
               </div>
               <div id="menuPressCenterBtn" class="button activeButton">
                    <p class="buttonText activeText">Press Center</p>
               </div>
               <div id="menuMediaBtn" class="button inactiveButton">
                    <p class="buttonText inactiveText">Media</p>
               </div>
               <div id="menuPartnersBtn" class="button inactiveButton">
                    <p class="buttonText inactiveText">Partners</p>
               </div>
              <div id="menuFundraisingBtn" class="button inactiveButton">
                    <p class="buttonText inactiveText">Fundraising</p>
               </div>
               <div id="menuPhotoBtn" class="button inactiveButton">
                    <p class="buttonText inactiveText">Photo Gallery</p>
               </div>
               <div class="howWeHelpMenuDisplay">
                    <div id="displayContent"></div>
               </div>
           </div>
       </section>
   </div>
    <section id="donation" class="submain donate">
        <article class="formNotes">
            <div class="formNote">
                <img src="/assets/graphics/corner.2.svg">
                <p class="fontc colord">We appreciate a donation of any size!</p>
            </div>
            <div class="formNote">
                <img src="/assets/graphics/corner.2.svg">
                <p class="fontc colord">Don't want to make an electronic donation?<br>No problem, send your donation to our PO box:<br><br><span class="bold1 big15">District 10 Lions<br>Childhood Cancer<br>PO BOX 107<br>Engadine, Michigan 49827</span></p>
            </div>
        </article>
        <div id="donationForm">
            <iframe src="https://donorbox.org/embed/uplionsserve-cc?default_interval=o&amount=5&enable_auto_scroll=false" name="donorbox" seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%" style="max-width: 500px; min-width: 250px; max-height:none!important"><!-- allowpaymentrequest="allowpaymentrequest" --></iframe>
        </div>
        <article class="formNotes">
            <img src="/assets/brand/logo-gold.svg" class="logo" alt="Childhood Cancer logo">
            <div class="formNote">
                <img src="/assets/graphics/corner.2.svg">
                <p class="fontc colord">You can share your individual activity to us via <a class="colora" href="https://www.facebook.com/uplionsserve" target="_blank">Facebook</a>, <a class="colora" href="mailto:support@uplionsserve.org" target="_blank">email</a>, or <a class="colora" href="https://www.instagram.com/uplionsserve/" target="_blank">Instagram</a>. We are looking forward to people getting involved! To help that, we encourage sharing your efforts toward our cause!</p>
            </div>
            <div class="formNote">
                <img src="/assets/graphics/corner.2.svg">
                <p class="fonta colord big15">Follow Our Cause!</p>
                <div class="socials">
                    <a href="https://www.facebook.com/uplionsserve" target="_blank"><img src="/assets/brands/fblogo.svg" alt="Facebook logo and link to our Facebook page"></a>
                    <a href="https://www.instagram.com/uplionsserve/" target="_blank"><img src="/assets/brands/iglogo.svg" alt="Instagram logo and link to our Instagram page"></a>
                </div>
            </div>
        </article>
    </section>
    <footer class="fontc colorb">
        <section class="footerLogos">
            <p class="fontc colorb bold1">We are partnering together with these causes:</p>
            <a href="https://www.campqualityusa.org/mi/" target="_blank"><img id="cqlogo" src="/assets/partners/CQ/cqLogo.png" alt="Camp Quality USA logo"></a>
            <a href="https://kidskickingcancer.org/" target="_blank"><img id="kkclogo" src="/assets/partners/KKC/kkcLogo.png" alt="Kids Kicking Cancer logo"></a>
            <a href="http://www.wigs4kids.org" target="_blank"><img id="w4klogo" src="/assets/partners/Wigs/wigsLogo.png" alt="Wigs for Kids logo"></a>
            <a href="https://www.northwoodsairlifeline.org" target="_blank"><img id="nwairlogo" src="/assets/partners/NWAir/NWAirlogo.png" alt="Northwoods Air Life Line logo"></a>
            <a href="https://baycliff.org" target="_blank"><img id="bclogo" src="/assets/partners/BC/bclogo.png" alt="Bay Cliff Camp logo"></a>
            <a href="https://www.focwc.org/" target="_blank"><img id="focwclogo" src="/assets/partners/focwc/focwclogo.jpg" alt="Families of Children with Cancer logo"></a>
            <a href="https://www.uphp.com/" target="_blank"><img id="uphplogo" src="/assets/partners/uphp/uphplogo.png" alt="Upper Peninsula Health Plan logo"></a>
            <a href="https://www.mgh.org/" target="_blank"><img id="uphslogo" src="/assets/partners/uphs/uphslogo.png" alt="Upper Peninsula Health System logo"></a>
            <a href="https://www.lssu.edu/" target="_blank"><img id="lssulogo" src="/assets/partners/lssu/lssulogo.png" alt="Lake State Superior University logo"></a>
            <a href="https://nmu.edu/ruralhealth/" target="_blank"><img id="nmururallogo" src="/assets/partners/nmu/nmururallogo.png" alt="Northern Michigan University Rural Health logo"></a>
            <a href="http://upcap.org/" target="_blank"><img id="upcaplogo" src="/assets/partners/upcap/upcaplogo.png" alt="Upper Peninsula Commission for Area Progress logo"></a>
            <a href="https://superiorhealthfoundation.org/" target="_blank"><img id="shflogo" src="/assets/partners/shf/shflogo.png" alt="Superior Health Foundation logo"></a>
            <a href="https://uplionsserve.org/dad/" target="_blank"><img id="dadlogo" src="/assets/partners/DAD/DADlogo.svg" alt="Defense Against Diabetes logo"/></a>
            <a href="https://tourdayoopeh.com/" target="_blank"><img id="tdyehlogo" src="/assets/partners/tdyEh/tdyEhlogo.png" alt="Tour Da Yoop, Eh logo"/></a>
            <a href="https://calloftheyooper.com/" target="_blank"><img id="cotyooperlogo" src="/assets/partners/cotYooper/cotYooperlogo.png" alt="Call of the Yooper logo"/></a>
            <a href="https://www.mottchildren.org/" target="_blank"><img id="mchlogo" src="/assets/partners/MCH/MCHlogo.png" alt="Motts Children's Hospital logo"/></a>
            <a href="https://www.hshs.org/stvincentchildrenshospital" target="_blank"><img id="svchlogo" src="/assets/partners/SVCH/SVCHlogo.png" alt="HSHS St. Vincent Children's Hospital logo"/></a>
            <a href="https://childrenswi.org/" target="_blank"><img id="cwlogo" src="/assets/partners/CW/CWlogo.png" alt="Children's Wisconsin logo"/></a>
        </section>
        <section>
            <p>A PROGRAM BY THE LIONS OF MICHIGAN & LIONS CLUBS INTERNATIONAL</p>
            <a href="https://www.district10lions.org/" target="_blank"><img src="/assets/partners/lions/d10lionslogo.png" alt="District 10 Lions Club of the Upper Peninsula of Michigan Logo"></a>
            <a href="https://www.lionsclubs.org/en" target="_blank"><img id="lionsinternationallogo" src="/assets/partners/lions/lionsinternationallogo.png" alt="Lions Clubs International Logo"></a>
        </section>
        <section class="globalcauses">
           <div class="shadow2">
                  <div class="roundedbox">
                     <p>Bringing diverse people together to serve their communities is what Lions Clubs are all about. Become part of the largest service and humanitarian organization in the world. Lions and Leos are raising awareness for our causes around the world.<br><br><span class="bold1">Interested in learning more about our 5 global causes?</span></p>
                     <a href="https://www.lionsclubs.org/en/explore-our-clubs/our-global-causes"><img src="/assets/brand/causes.svg" alt="causes" id="causes"></a>
                     <img src="/assets/graphics/planet.png" alt="planet" id="causesplanet">
                </div>
           </div>
        </section>
        <section class="disclaimer">
            <p>
                DISCLAIMER:<br><br>The content and views shared on UPlionsserve.org is provided for information purposes only and is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition.<br>If you think you may have a medical emergency, call your doctor or 911.<br>It is our sincere hope that the resources here will assist you, inform you, guide you and inspire you!<br><br>Sincerely,<br /><span class="bold1">UPlionsserve.org Team</span>
            </p>
        </section>
        <section>
            <a href="#top"><img src="/assets/brand/logo-fullcolor.svg" alt="I Trekked the U.P. Logo"></a>
            <p>Questions about<br><span class="italic">Childhood Cancer</span>?</p>
            <a href="mailto:contact@uplionsserve.org" class="contactButton">Contact Us</a>
        </section>
        <section>
            <p class="sig fontc colora">Website Crafted by<br><a href="mailto:harrisonbouche@gmail.com" class="colora bold1" id="harrisontext"><span class="siga">HARRISON BOUCHE</span></a> and <a href="https://colerobertfisher.com" target="_blank" class="colora bold1" id="coletext"><span class="siga">COLE</span> <span class="sigb">ROBERT</span> <span class="sigc">FISHER</span></a></p>
        </section>
    </footer>
</Default>

<script>
    import anime from 'animejs'

    // INTRO ANIMATION
    anime({
        targets: '.landingAnim img.bg',
        rotate: 360,
        duration: 40000,
        easing: 'linear',
        loop: true
    });
    anime({
        targets: '.landingAnim div.bg',
        rotate: -360,
        duration: 120000,
        easing: 'linear',
        loop: true
    });

    // INFOGRAPHICS FUNCTION
    var i = 0;
    // hero stories
    // $("#heroNext").click(function () {
    //     i += 1;
    //     if(i >= 2) {
    //         i = 2;
    //         $("#heroNext").addClass("inactive");
    //     }
    //     $("#heroPrev").removeClass("inactive");
    //     $(".heroImg").removeClass("activeHeroImg");
    //     $("#heroImg" + i).addClass("activeHeroImg");
    //     $(".heroBack").removeClass("activeHeroBack");
    //     $("#heroBack" + i).addClass("activeHeroBack");
    //     if(i == 1) {
    //         $("#heroName").html("PRESLIE");
    //         $("#heroText1").html("Preslie is continuing to undergo treatment at Children’s Hospital in Milwaukee, Wisconsin.");
    //         $("#heroText2").html("The Lions clubs of the UP can help those affected by childhood cancer to “Survive and Thrive”. The UP Lions childhood cancer program has helped many families thus far, including 4-year-old Preslie (in the photo), with funds for travel, food, and medical expenses.");
    //     } else if(i == 2) {
    //         $("#heroName").html("ABRAM");
    //         $("#heroText1").html("Abram was diagnosed with a choriocarcinoma brain tumor shortly after his first birthday. Despite about nine months of excellent treatment and care, he died peacefully on July 2, 2019.");
    //         $("#heroText2").html("As the Johnson family of Menominee mourned the death of their 22-month-old son Abram, they worked to save the money needed to create a very special gravestone. With the help of Menominee Granite Co., and Upper Peninsula Lions Clubs, they purchased a beautiful grave marker that will be engraved with the following poem written by Abram’s mother, Heidi:<br><br>We thought we would watch over you.<br>There is now no need.<br>We thought we would make a straight arrow of you.<br>You fly true without us.<br>We thought to teach you all we knew.<br>You know more now than we ever dreamed.<br>We thought we would bring you to meet the Lord.<br>You see His very face.<br>We thought we would love you forever and ever.<br>That we will.<br>We will.");
    //     } else if(i == 0) {
    //         $("#heroName").html("RYLAN");
    //         $("#heroText1").html("Rylan, an Upper Peninsula 5-year-old who is being treated for high-risk neuroblastoma, is one of the children the Lions have helped.");
    //         $("#heroText2").html("His father is very grateful for the assistance as Rylan receives treatment at the University of Michigan hospitals in Ann Arbor, including surgery, chemotherapy, bone marrow transplants, and more. This treatment requires lengthy hospitalizations, keeping Rylan and his mom away from his father and siblings for months.");
    //     }
    // });
    // $("#heroPrev").click(function () {
    //     i -= 1;
    //     if(i <= 0) {
    //         i = 0;
    //         $("#heroPrev").addClass("inactive");
    //     }
    //     $("#heroNext").removeClass("inactive");
    //     $(".heroImg").removeClass("activeHeroImg");
    //     $("#heroImg" + i).addClass("activeHeroImg");
    //     $(".heroBack").removeClass("activeHeroBack");
    //     $("#heroBack" + i).addClass("activeHeroBack");
    //     if(i == 1) {
    //         $("#heroName").html("PRESLIE");
    //         $("#heroText1").html("Preslie is continuing to undergo treatment at Children’s Hospital in Milwaukee, Wisconsin.");
    //         $("#heroText2").html("The Lions clubs of the UP can help those affected by childhood cancer to “Survive and Thrive”. The UP Lions childhood cancer program has helped many families thus far, including 4-year-old Preslie (in the photo), with funds for travel, food, and medical expenses.");
    //     } else if(i == 2) {
    //         $("#heroName").html("ABRAM");
    //         $("#heroText1").html("Abram was diagnosed with a choriocarcinoma brain tumor shortly after his first birthday. Despite about nine months of excellent treatment and care, he died peacefully on July 2, 2019.");
    //         $("#heroText2").html("As the Johnson family of Menominee mourned the death of their 22-month-old son Abram, they worked to save the money needed to create a very special gravestone. With the help of Menominee Granite Co., and Upper Peninsula Lions Clubs, they purchased a beautiful grave marker that will be engraved with the following poem written by Abram’s mother, Heidi:<br><br>We thought we would watch over you.<br>There is now no need.<br>We thought we would make a straight arrow of you.<br>You fly true without us.<br>We thought to teach you all we knew.<br>You know more now than we ever dreamed.<br>We thought we would bring you to meet the Lord.<br>You see His very face.<br>We thought we would love you forever and ever.<br>That we will.<br>We will.");
    //     } else if(i == 0) {
    //         $("#heroName").html("RYLAN");
    //         $("#heroText1").html("Rylan, an Upper Peninsula 5-year-old who is being treated for high-risk neuroblastoma, is one of the children the Lions have helped.");
    //         $("#heroText2").html("His father is very grateful for the assistance as Rylan receives treatment at the University of Michigan hospitals in Ann Arbor, including surgery, chemotherapy, bone marrow transplants, and more. This treatment requires lengthy hospitalizations, keeping Rylan and his mom away from his father and siblings for months.");
    //     }
    // });
    // // data section
    // $("#dataNext").click(function () {
    //     i += 1;
    //     if(i >= 4) {
    //         i = 4;
    //         $("#dataNext").addClass("inactive");
    //     }
    //     $("#dataPrev").removeClass("inactive");
    //     $(".dataImg").removeClass("dataActive");
    //     $("#dataImg" + i).addClass("dataActive");
    //     if (i == 1) {
    //         $("#dataText1").html("According to recent figures, <span class='bold1'>11,000 children in the U.S. were diagnosed with a form of cancer in 2020.</span> Michigan diagnoses approximately 470 children per year with some form of cancer. At any given time there are approximately 2000 children in Michigan battling this dreadful disease.");
    //         $("#dataText2").html("The Upper Peninsula of Michigan has the largest number of cases diagnosed per capita.");
    //     } else if(i == 2) {
    //         $("#dataText1").html("Within the past few decades, cancer research has produced promising treatments for pediatric cancer. <span class='bold1'>60% of children who have had cancer, have lifelong emotional, cognitive, physical, and developmental deficits.</span> Key statistics for Childhood Cancers, The American Cancer Society's most recent estimates and statistics for cancer in children in the United States can be found <a href='https://www.cancer.org/cancer/cancer-in-children/key-statistics.html'><span class='colorb' style='font-weight: bold;'>here.</span></a>");
    //         $("#dataText2").html("Currently in the U.S., the recovery rate for childhood cancer is 84%.");
    //     } else if(i == 3) {
    //         $("#dataText1").html("<span class='bold1'>The Childhood Cancer program has worked hard and received support from several organizations.</span> Fundraisers and donations made by Lions, other organizations and individuals earned over $30,000. Tour Da Yoop, Eh earned over $50,000 in 2022. Graymont and Superior Health Foundation provided grants worth over $25,000. A Legacy Bequeathment has also provided funding.");
    //         $("#dataText2").html("In total, The U.P. Lions Serve Childhood Cancer Program has raised over $100,000 through fundraisers, individual donations, and grants!");
    //     } else if(i == 4) {
    //         $("#dataText1").html("Families found by the Childhood Cancer program, dsitributed by county.");
    //         $("#dataText2").html("");
    //     } else if(i == 0) {
    //         $("#dataText1").html("Since our project began, <span class='bold1'>we have seen a rise in the number of families</span> living in the Upper Peninsula of Michigan seeking help with a child battling cancer.");
    //         $("#dataText2").html("As of December 2021, that number has increased by more than twenty-fold!");
    //     }
    // });
    // $("#dataPrev").click(function () {
    //     i -= 1;
    //     if(i <= 0) {
    //         i = 0;
    //         $("#dataPrev").addClass("inactive");
    //     }
    //     $("#dataNext").removeClass("inactive");
    //     $(".dataImg").removeClass("dataActive");
    //     $("#dataImg" + i).addClass("dataActive");
    //     if (i == 1) {
    //         $("#dataText1").html("According to recent figures, <span class='bold1'>11,000 children in the U.S. were diagnosed with a form of cancer in 2020.</span> Michigan diagnoses approximately 470 children per year with some form of cancer. At any given time there are approximately 2000 children in Michigan battling this dreadful disease.");
    //         $("#dataText2").html("The Upper Peninsula of Michigan has the largest number of cases diagnosed per capita.");
    //     } else if(i == 2) {
    //         $("#dataText1").html("Within the past few decades, cancer research has produced promising treatments for pediatric cancer. <span class='bold1'>60% of children who have had cancer, have lifelong emotional, cognitive, physical, and developmental deficits.</span> Key statistics for Childhood Cancers, The American Cancer Society's most recent estimates and statistics for cancer in children in the United States can be found <a href='https://www.cancer.org/cancer/cancer-in-children/key-statistics.html'><span class='colorb' style='font-weight: bold;'>here.</span></a>");
    //         $("#dataText2").html("Currently in the U.S., the recovery rate for childhood cancer is 84%.");
    //     } else if(i == 3) {
    //         $("#dataText1").html("<span class='bold1'>The Childhood Cancer program has worked hard and received support from several organizations.</span> Fundraisers and donations made by Lions, other organizations and individuals earned over $30,000. Tour Da Yoop, Eh earned over $50,000 in 2022. Graymont and Superior Health Foundation provided grants worth over $25,000. A Legacy Bequeathment has also provided funding.");
    //         $("#dataText2").html("In total, The U.P. Lions Serve Childhood Cancer Program has raised over $100,000 through fundraisers, individual donations, and grants!");
    //     } else if(i == 4) {
    //         $("#dataText1").html("Families found by the Childhood Cancer program, dsitributed by county.");
    //         $("#dataText2").html("");
    //     } else if(i == 0) {
    //         $("#dataText1").html("Since our project began, <span class='bold1'>we have seen a rise in the number of families</span> living in the Upper Peninsula of Michigan seeking help with a child battling cancer.");
    //         $("#dataText2").html("As of December 2021, that number has increased by more than twenty-fold!");
    //     }
    // });

    // // HOW WE HELP MENU
    // // load Press Center content in viewport
    // $('#displayContent').load('/childhoodcancer/media/helpMenu/pressCenter.html');
    // // close drop-down menu
    // $('#mobileDropDown').hide();
    // // make button active
    // $('.button').click(function() {
    //      $(this).addClass('activeButton');
    //      $(this).removeClass('inactiveButton');
    //      $('.button').not(this).addClass('inactiveButton');
    //      $('.button').not(this).removeClass('activeButton');
    //      $('.button p').removeClass('activeText');
    //      $(this).children('p').addClass('activeText');
    // });
    // // open/close on expand button press
    // var isExpanded = false;
    // $('#mobileExpandBtn').click(function() {
    //      if(!isExpanded) {
    //           isExpanded = true;
    //          $('#mobileDropDown').animate({
    //               opacity: 'show'
    //          });
    //          $('#dropDownArrow').removeClass('arrowAnimateOut');
    //          $('#dropDownArrow').addClass('arrowAnimateIn');
    //      }
    //      else {
    //          isExpanded = false;
    //          $('#mobileDropDown').animate({
    //               opacity: 'hide'
    //          });
    //          $(this).addClass('inactiveButton')
    //          $(this).removeClass('activeButton')
    //          $('#howWeHelpMenuTextBtn').addClass('activeButton')
    //          $('#howWeHelpMenuTextBtn').removeClass('inactiveButton')
    //          $('#howWeHelpMenuTextBtn p').addClass('activeText')
    //          $(this).children('p').removeClass('activeText');
    //          $('#dropDownArrow').removeClass('arrowAnimateIn');
    //          $('#dropDownArrow').addClass('arrowAnimateOut');
    //      }
    // });
    // // close on main button press
    // $('#howWeHelpMenuTextBtn').click(function() {
    //     $('#mobileDropDown').animate({
    //         opacity: 'hide'
    //     });
    //     $('#dropDownArrow').removeClass('arrowAnimateIn');
    //     $('#dropDownArrow').addClass('arrowAnimateOut');
    // });
    // // update main button then close
    // $('.dropDownText').click(function() {
    //     isExpanded = false;
    //     $('#howWeHelpMenuText').text($(this).text());
    //     $(this).css('color', 'var(--a)');
    //     $('.dropDownText').not(this).css('color', 'var(--b)');
    //     $('#mobileDropDown').animate({
    //     opacity: 'hide'
    //     });
    //     $('#dropDownArrow').removeClass('arrowAnimateIn');
    //     $('#dropDownArrow').addClass('arrowAnimateOut');
    //     //Make main button active
    //     $('.howWeHelpMenuTextBtn').addClass('activeButton');
    //     $('.howWeHelpMenuTextBtn').removeClass('inactiveButton');
    //     $('.button', '.howWeHelpMenu').not('.howWeHelpMenuTextBtn').addClass('inactiveButton');
    //     $('.button', '.howWeHelpMenu').not('.howWeHelpMenuTextBtn').removeClass('activeButton');
    //     $('.button p').removeClass('activeText');
    //     $('.howWeHelpMenuTextBtn').children('p').addClass('activeText');
    // });
    // // load animation

    // function loadHelpMenu(fileName) {
    //     $('#displayContent').animate({'opacity': '0.01'}, 250);
    //     setTimeout(function() {
    //         $('#displayContent').load("/childhoodcancer/media/helpMenu/" + fileName + ".html");
    //     }, 250);
    //     setTimeout(function() {
    //         $('#displayContent').animate({'opacity': '1'}, 250);
    //         $('.howWeHelpMenuDisplay').scrollTop(0);
    //     }, 500);
    // }

    // // load drop-down menu item
    // $('.dropDownText').click(function() {
    //     $('#howWeHelpMenuTextBtn').attr('id', $(this).attr('id'));
    //     loadHelpMenu($(this).attr('id'));
    // });
    // // load Press Center
    // $('#menuPressCenterBtn').click(function() {
    //     loadHelpMenu("pressCenter");
    // });
    // // load Media
    // $('#menuMediaBtn').click(function() {
    //     loadHelpMenu("media");
    // });
    // // load Partners
    // $('#menuPartnersBtn').click(function() {
    //     loadHelpMenu("partners");
    // });
    // // load Fundraising
    // $('#menuFundraisingBtn').click(function() {
    //     loadHelpMenu("fundraising");
    // });
    // // load Photo Gallery
    // $('#menuPhotoBtn').click(function() {
    //     loadHelpMenu("photoGallery");
    // });
</script>

<style>
    /*
UP LIONS SERVE CHILDHOOD CANCER SITE
    PAGE: HOME
    MODIFIED: 2021-12-15
*/

/*
TABLE OF CONTENTS
    360px
        | MISSION
            || LANDING ANIMATION
            || HEADLINE
            || SHORTCUT BUTTON
            || MISSION CONTAINER
        | HEROES

*/


/* 360px */
/* 360px | MISSION */

#mission {
    margin-bottom: 150px;
}

/* 360px || LANDING ANIMATION */

.landingAnim {
    display: flex;
    width: 300px;
    height: 300px;
    margin: auto;

    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.landingAnim .container {
    position: relative;
}

.landingAnim .fg {
    position: relative;
}

.landingAnim .fg img {
    position: absolute;
    width: 260px;
    top: 48px;
    left: -17px;

    transition: 0.2s;
}

.landingAnim .fg:hover {
    cursor: help;
}

.landingAnim .fg:hover img {
    transform: rotate(9.5deg) scale(1.3);
}

.landingAnim .fg div {
    display: block;
    width: 225px;
    height: 225px;
    margin: auto;

    background-color: white;
    border-radius: 100%;
}

.landingAnim img.bg {
    visibility: visible;
    position: absolute;
    width: 290px;
    left: -31px;
}

.landingAnim div.bg {
    position: absolute;
    width: 230px;
    height: 230px;
    left: -8px;
    top: -8px;

    border: 5px dashed var(--b);
    border-radius: 100%;
}

.landingAnim p {
    position: absolute;
    width: 200px;
    max-width: 350px;
    right: -85px;
    bottom: 0px;

    filter: opacity(0) blur(20px) drop-shadow(0 0 5px white);
    user-select: none;

    transition: 3s ease-in;
}

.landingAnim .fg:hover p {
    filter: opacity(1) blur(0.75px) drop-shadow(0 0 5px white);
    transition: 1s;
}

/* 360px || HEADLINE */

#mission h2 {
    margin: 20px 0 0;
    text-align: center;
}


/* 360px || SHORTCUT BUTTON */

.shortcutButtonContain {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.shortcutButton {
    display: block;
    position: relative;
    padding-left: 30px;
    background: var(--a);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -khtml-border-radius: 100px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    margin: 50px auto;
    width: 80%;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    transition: .25s cubic-bezier(.25, 1.75, .41, 1.01);
    cursor: pointer;
}

.shortcutButton:hover {
    transform: rotate(5deg) scale(1.05);
    transition: .5s cubic-bezier(.25, 1.75, .41, 1.01);
}

.shortcutButton img {
    position: absolute;
    bottom: -30px;
    right: 20px;
    height: 75px;
    animation: hop1 4s ease infinite;
}

@keyframes hop1 {
    45% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    55% {transform: translateY(0);}
    60% {transform: translateY(-5px);}
    65% {transform: translateY(0);}
}


/* 360px | HEROES */

#heroes {
    margin-bottom: 150px;
}

.herosHeading {
    line-height: 16vh;
    height: 20vh;
    width: 100%;
    text-align: right;
    background: url("/assets/graphics/arrow.1.svg");
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    text-shadow: 0 0 5px white;
}

.heroDisplay {
    position: relative;
    margin: 50px 0;
    padding: 30px;
    background: var(--white90);
    box-shadow: 0 30px 30px var(--b);
    border-radius: 30px;
    padding-bottom: 75px;
    overflow: hidden;
}

.heroDisplay .container {
    position: relative;
    z-index: 9999;
}

.heroImgContain {
    position: relative;
    width: 100%;
    height: 85vw;
    overflow: hidden;
}

.heroImg {
    position: absolute;
    left: 50%;
    height: 100%;
    z-index: 99;
    transform: translateX(-50%) rotateY(90deg);
    transition: .25s cubic-bezier(.63, -0.25, .41, 1.01);
    pointer-events: none;
    border-radius: 20px;
}

.activeHeroImg {
    transform: translateX(-50%) rotateY(0deg);
    transition: 1.5s .25s cubic-bezier(.25, 1.75, .41, 1.01);
}

.heroBack {
    display: none;
    position: absolute;
    width: 90%;
    z-index: 100;
    pointer-events: none;
}

.heroImgBorder {
    display: none;
}

.heroName {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 10px solid var(--a);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#heroText2 {
    margin-top: 20px;
}

#heroNext {
    right: 0;
}

#heroPrev {
    left: 0;
}

/* || HERO DISPLAY */

.heroDisplay .controls {
    top: 38vw;
    width: 95%;
    transform: translate(-50%,50%);
    z-index: 999;
}

.heroDisplay .controls .arrow {
    width: 30px;
}

.heroDisplay .controls .conShadow {
    transform: translateX(10px);
}

.heroDisplay .controls .arrow:active .conButton {
    transform: translateX(10px) rotate(180deg);
}

.heroDisplay .controls .arrow:active .arrowGraphic {
    transform: translate(-50%,-50%);
}

.toTop {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px;
    transform: translate(-50%,85px);
    transition: .25s cubic-bezier(.25, 1.75, .41, 1.01);
}

.toTop img {
    width: 100%;
}

.toTop:active {
    transform: translate(-50%,80px);
}


/* || DATA DISPLAY */

h2.subheading {
    margin-bottom: -30px;

    color: var(--a);
    font-family: var(--fonta);
    font-size: 2.5em;
}

#data {
    margin-right: 0;
    margin-bottom: 100px;
}

#data h2 {
    text-align: left;
}

.dataDisplay {
    position: relative;
    margin: 50px 0;
    padding: 30px 0 50px 30px;
    background: var(--white90);
    box-shadow: 0 30px 30px var(--b);
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dataContain {
    right: 0;
    width: 100%;
    height: 50vw;
}

.dataContain img {
    pointer-events: none;
}

.dataImg {
    position: absolute;
    display: block;
    width: 85%;
    margin: 0 auto;
    transform: rotateY(90deg);
    transition: .25s cubic-bezier(.63, -0.25, .41, 1.01);
}

.dataImg:nth-of-type(2) {
    right: 0;
}

.dataActive {
    transform: rotateY(0deg);
    transition: 1.5s .25s cubic-bezier(.25, 1.75, .41, 1.01);
}

.controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 150px;
    height: 50px;
    transform: translate(-60%,50%);
}

.arrow {
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    border-radius: 20px;
}

.inactive .conShadow {
    background: rgba(75, 100, 150, .5);
    transition: .25s ease;
}

.inactive .conButton {
    background: rgb(255, 227, 166);
    opacity: 0.75;
    transition: .25s ease;
}

.arrow:last-of-type {
    transform: rotate(180deg);
}

#dataPrev {
    left: 0;
}

#dataNext {
    right: 0;
}

.conButton {
    background: var(--c);
    transition: .5s cubic-bezier(.19, 1.5, .24, 1);
}

.conShadow {
    background: var(--a);
    transform: translateX(20px);
}

.arrowGraphic {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    transition: .5s cubic-bezier(.19, 1.5, .24, 1);
}

.arrow:hover .conButton {
    transform: translateX(5px);
    transition: .5s cubic-bezier(0, 2, 0, .87);
}

.arrow:hover .arrowGraphic {
    transform: translate(-30%,-50%);
    transition: .5s cubic-bezier(0, 2, 0, .87);
}

.arrow:active .conButton {
    transform: translateX(20px);
    transition: .20s cubic-bezier(0, .88, .01, .93);
}

.arrow:active .arrowGraphic {
    transform: translate(-50%,-50%);
    transition: .20s cubic-bezier(0, .73, 0, 1);
}


/* || DATA EXPLAIN */

.dataExplain {
    position: relative;
    margin: 80px 30px 50px 20px;
    line-height: 1.5em;
}

.dataExplain p {
    margin-left: 20px;
}

#dataText2 {
    margin-top: 10px;
}

.dataExplain img {
    position: absolute;
    width: 30vw;
    top: 0;
    left: 0;
    transform: translate(-25px,-35px);
    pointer-events: none;
}

.creds {
    border-top: 5px solid var(--a);
    border-left: 5px solid var(--a);
    border-radius: 5px;
    border-top-left-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.75em;
    line-height: 1em;
    transition: .5s cubic-bezier(.19, 1.5, .24, 1);
}

.creds:hover {
    background: var(--c);
    border-top-left-radius: 5px;
    transition: .20s cubic-bezier(0, .73, 0, 1);
}


/* || HOW WE HELP MENU */

h2.helpHeading {
    margin: 50px 0 20px;
    padding: 30px 0;
    text-shadow: 0 0 5px white;
    background: url("/assets/graphics/arrow.1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80%;
}

.howWeHelpMenu {
     padding: 30px 0 70px 0;
}

/* ||| BUTTONS */

#menuPressCenterBtn, #menuMediaBtn, #menuPartnersBtn, #menuFundraisingBtn, #menuPhotoBtn {
     display: none;
}

.howWeHelpMenuTextBtn {
     width: 65%;
     border-top-right-radius: 35px !important;
     border-bottom-right-radius: 35px !important;
     border-top-left-radius: 50px !important;
     border-bottom-left-radius: 50px !important;
}

#mobileExpandBtn {
     width: 33%;
     border-top-right-radius: 50px;
     border-bottom-right-radius: 50px;
     border-top-left-radius: 35px !important;
     border-bottom-left-radius: 35px !important;
}

.howWeHelpMenu .button {
     display: inline-block;
     padding: 8px 0;
     background-color: white;
     border-radius: 15px;
     cursor: pointer;

     transform: translateY(-8px);
     transition: .5s cubic-bezier(.19, 1.5, .24, 1);
}

.howWeHelpMenu .activeButton {
    box-shadow: 0 4px 0 var(--b), 0px 2px 5px rgba(75, 100, 150, .7);
    transform: translateY(1px);
    transition: .5s cubic-bezier(0, .88, .01, .93);
}

.howWeHelpMenu .inactiveButton {
     box-shadow: 0px 12px 0px var(--b), 0px 10px 15px rgba(75, 100, 150, .7);
}


/* ||| MOBILE DROP DOWN */

#mobileDropDown {
     margin: 17px 0 25px 0;
     padding: 10px 0;
     background-color: white;
     border-radius: 20px;
     box-shadow: 0px 12px 0px var(--b), 0px 10px 15px rgba(75, 100, 150, .7);
}

#dropDownArrow {
     width: auto;
     margin-left: -15px;
}

#presscenter {
     color: var(--a);
}

.arrowAnimateIn {
     transform: rotate(90deg);
     transition: 0.3s ease-out;
}

.arrowAnimateOut {
     transform: rotate(0deg);
     transition: 0.3s ease-out;
}

.dropDownLines {
     border: 1px solid var(--b);
     border-radius: 100px;
     background-color: var(--b);
     height: 2px;
     width: 90%;
}

.dropDownText {
     cursor: pointer;
}


/* ||| TEXT */

#mobileExpandText {
     width: 75%;
}

.buttonText {
     font-family: var(--fontc);
     font-weight: 900;
     line-height: inherit;
     font-size: 1em;
     color: var(--b);

     display: inline-block;
     text-align: center;
     padding: 5px 0;
     width: 100%;
}

.activeText {
     color: var(--a);
}


/* ||| VIEWPORT */

.displayContentContainer {
     display: block;
     width: 88%;
     margin: auto;
}

.displayContentContainer a {
     color: var(--b);
     transition: 0.1s ease-out;
}

.displayContentContainer a:hover {
     color: var(--a);
     transition: 0.1s ease-out;
}

.howWeHelpMenuDisplay {
     display: block;
     width: 100%;
     height: 500px;
     margin-top: 15px;
     background-color: white;
     border-radius: 15px;
     box-shadow: 0px 12px 0px var(--b), 0px 12px 15px rgba(75, 100, 150, .7);
     text-align: center;
     overflow-y: scroll;
}

.hmHeader {
     font-family: var(--fonta);
     font-weight: 900;
     line-height: inherit;
     font-size: 1.2em;
     color: var(--b);
     text-align: left;
     padding-top: 20px;
}

.hmHeaderLinked {
     transition: color 0.1s ease-out;
}

.helpMenuArticle:hover .hmHeaderLinked{
     color: var(--a);
     transition: color 0.1s ease-out;
}

.hmSubtitle {
     font-family: var(--fontc);
     font-weight: 500;
     line-height: inherit;
     font-size: 1em;
     color: var(--b);

     padding-top: 5px;
     text-align: left;
}

.hmImgMain {
     display: inline-block;
     margin: 15px 3px;
     border-radius: 20px;
     box-shadow: 0px 5px 9px rgba(75, 100, 150, .7);
}

.hmImgLogo {
     display: block;
     width: 65%;
     margin: auto;
}

#photoGalleryContainer {
    display: flex;
    flex-wrap: row wrap;
    padding-top: 20px;
}

.pgPhotos, .pgPhotos1, .pgPhotos2, .pgPhotos3 {
    display: none;
}

.hmImgGallery {
     width: 90%;
     padding: 3px;
     border-radius: 10px;
}

.hmLogoBox {
     display: inline-block;
     width: 20%;
     margin-bottom: -1px;
     padding-top: 20px;
}

.hmHeaderBox {
     display: inline-block;
     width: 75%;
}

.hmHeaderBox:hover p {
     color: var(--a);
     transition: color 0.1s ease-out;
}

.hmBody {
     font-family: var(--fontc);
     font-weight: 500;
     line-height: inherit;
     font-size: 1em;
     color: var(--b);
     line-height: 1.3em;

     text-align: left;
}

.hmLineBreak {
     margin-top: 30px;
     border: 1px solid var(--b);
     border-radius: 100px;
     background-color: var(--b);
     height: 2px;
}


/* || DONATE FORM */

#donation {
    width: 100%;
    margin: 50px 0;
    margin-bottom: 0;
    padding: 100px 0;

    background-color: red;
    background: url("/assets/graphics/landingBack.2a.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

#donationForm {
    height: auto;
    margin: auto;

}
.formNotes .logo {
    display: block;
    margin: 100px auto;
    width: 50%;
}

.formNote {
    position: relative;
    margin: 75px 50px;

    line-height: 1.35em;
}

.formNote img {
    position: absolute;
    width: 30vw;
    top: 0;
    left: 0;
    transform: translate(-20px,-35px);
}

.formNote .socials {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 50%;
    margin: 50px auto;
}

.formNote .socials a:first-of-type {
    margin-right: 50px;
}

.formNote .socials img {
    position: relative;
    transform: none;
    width: 50px;
    padding: 10px;
    border: 5px solid var(--a);
    border-radius: 20px;
    box-shadow: 0 15px 0 0 var(--a);
    transition: .5s cubic-bezier(.19, 1.5, .24, 1);
}

.formNote .socials a:hover img {
    transform: translateY(15px);
    box-shadow: 0 0px 0 0 var(--c);
    transition: .20s cubic-bezier(0, .88, .01, .93);
}

.gifts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    margin: 50px auto;
    margin-top: -50px;
}

.gifts img {
    width: 100%;
    height: 100%;
    margin: 10px 0;
    pointer-events: none;
}

.formNote p {
    margin-left: 20px;
}

.formNote p a {
    transition: 1s ease;
}

.formNote p a:hover {
    color: var(--c);
    transition: .15s ease;
}


/* 375px */

@media only screen and (min-width: 375px) {

    /* 375px | MISSION */

    /* 375px || SHORTCUT BUTTON*/

    .shortcutButton {
        width: 250px;
    }

    .infoCard a:first-of-type {
        padding: 20px;
    }

}

/* 450px */

@media only screen and (min-width: 450px) {

    #donationForm {
        width: 425px;

        background-color: white;
        border: 10px solid var(--a);
        border-radius: 15px;
    }

}

/* 550px */

@media only screen and (min-width: 550px) {

    /* 550px | MISSION */

    #mission h2 {
        margin-top: 40px;
    }

    /* 550px || LANDING ANIMATION */

    .landingAnim {
        transform: scale(1.1);
    }


    /* 550px | HEROES */

    .heroDisplay .controls {
        height: 200px;
    }

    .dataContain {
        height: 38vw;
    }

    .dataExplain {
        margin-right: 25%;
    }

    .dataExplain img {
        width: 20vw;
    }

    #donationForm {
        width: 425px;

        background-color: white;
        border: 10px solid var(--a);
        border-radius: 15px;
    }

    .formNote {
        margin: 100px 150px;
    }

    .formNote img {
        width: 20vw;
    }

    .hmHeader {
         font-size: 1.35em;
    }

    .hmSubtitle {
         font: 1.1em;
    }

}


/* 750px */

@media only screen and (min-width: 750px) {

    /* 750px | MISSION */

    /* 750px || LANDING ANIMATION */

    .landingAnim p {
        position: absolute;
        width: 350px;
        right: -235px;
        bottom: 20px;

        filter: opacity(0) blur(20px) drop-shadow(0 0 5px white);
        user-select: none;

        transition: 3s ease-in;
    }

    /* 750px || HEADLINE */

    #mission h2 {
        width: 350px;
        margin: 40px auto 0;
    }


    /* 750px | HEROES */

    .controls {
        bottom: 5vh;
        left: 25%;
        height: 100px;
        z-index: 9999;
    }

    .herosHeading {
        letter-spacing: 0.1em;
    }

    .heroDisplay {
        position: relative;
        margin-top: 20vw;
        overflow: visible;
        border-radius: 50px;
    }

    .heroImgContain {
        position: absolute;
        top: -110px;
        left: 70px;
        width: 230px;
        height: 300px;
        border-radius: 0 0 15px 15px;
    }

    .heroImgBorder {
        position: absolute;
        display: block;
        width: 550px;
        left: -15px;
        top: -25px;
        pointer-events: none;
        z-index: 999;
    }

    .heroImgContain img {
        border-radius: 15px 15px 15px 15px;
    }

    .heroDisplay .controls {
        top: 165px;
        left: -60px;
        height: 100px;
        transform: none;
        z-index: 9999;
    }

    .heroDisplay .controls .arrow {
        width: 50px;
    }

    .heroDisplay .controls #heroNext {
        top: -238px;
        left: 585px;
    }

    .heroDisplay .controls .conShadow {
        transform: translateX(20px);
    }

    .heroDisplay .controls .arrow:hover .conButton {
        transform: translateX(5px);
    }

    .heroDisplay .controls .arrow:active .conButton {
        transform: translateX(20px);
    }

    .heroBack {
        display: block;
        left: 50%;
        top: 0;
        opacity: .15;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        transform: translate(-52%,-30%) rotate(10deg) scale(0.95);
        width: 90vw;
        z-index: 0;
        transition: .25s ease;
    }

    .activeHeroBack {
        filter: blur(0px);
        -webkit-filter: blur(0px);
        opacity: .9;
        transform: translate(-52%,-30%) rotate(10deg) scale(1);
        transition: 1s .5s ease;
    }

    .heroDisplay h3 {
        border-top: none;
        top: 70px;
        left: 335px;
        margin: 0;
        text-align-last: right;
        position: absolute;
    }

    .heroDisplay .container {
        margin: 200px 50px 0 100px;
    }

    .heroDisplay .toTop {
        display: none;
    }

    .dataContain {
        height: 42vw;
    }

    .dataExplain {
        margin-right: 50%;
    }

    .dataExplain img {
        width: 100px;
    }

    #donation {
        background-image: url("/assets/bg/landingBack.2.png");
        background-position: center;
        margin-top: -100px;
        padding-top: 350px;
    }

    .formNote {
        margin: 100px auto;
        width: 400px;
    }

    .formNote img {
        width: 100px;
    }

    #cv-iframe-embed {
        margin: 0 150px;
    }

    /* || HOW WE HELP */

    h2.helpHeading {
        width: 400px;
        margin: auto;
        text-align: center;
    }

    #howWeHelp h3 {
        text-align: center;
        margin-bottom: 10px;
        padding-top: 20px;
    }

    .infoDisplay {
        top: 200px;
    }

    .infoCard {
        min-height: 100%;
    }

    .infoCard a:first-of-type {
        max-width: 300px;
    }

    .infoCard img {
        width: 60%;
    }

    /* HOW WE HELP ^ */

    #mobileExpandBtn, mobileExpandText, #howWeHelpMenuTextBtn, #howWeHelpMenuText {
         display: none;
    }

    #menuPressCenterBtn {
         display: inline-block;
         width: 23%;

         border-top-right-radius: 35px !important;
         border-bottom-right-radius: 35px !important;
         border-top-left-radius: 50px !important;
         border-bottom-left-radius: 50px !important;
    }

    #menuMediaBtn {
        display: inline-block;
        width: 14%;
    }

    #menuPartnersBtn {
        display: inline-block;
        width: 16%;
    }

    #menuFundraisingBtn {
        display: inline-block;
        width: 20%;
    }

    #menuPhotoBtn {
         display: inline-block;
         border-top-right-radius: 50px;
         border-bottom-right-radius: 50px;
         border-bottom-left-radius: 35px;
         border-top-left-radius: 35px;
         width: 24%;
    }

    .displayContentContainer {
         width: 70%;
         margin: auto;
         padding: 20px;
    }

    .pgPhotosMobile1, .pgPhotosMobile2 {
        display: none;
    }

    .pgPhotos1, .pgPhotos2, .pgPhotos3 {
        display: block;
    }

    .hmImgGallery {
        transition: 0.2s;
    }

    .hmImgGallery:hover {
        margin: 10px 0;

        filter: brightness(0.8);
        cursor: pointer;
    }
}


/* 900px */

@media only screen and (min-width: 900px) {

    .herosHeading {
        margin-top: 100px;
    }

    .heroDisplay {
        margin-top: 100px;
    }

    .heroBorderImg {
        width: 80%;
        left: -2%;
        top: -5%;
    }

    .heroBack {
        width: 90vw;
        max-width: 1500px;
        transform: translate(-50%,-40%) rotate(10deg) scale(0.95);
    }

    .activeHeroBack {
        transform: translate(-50%,-40%) rotate(10deg) scale(1);
    }

    #data h2 {
        font-size: 3em;
    }

    #data {
        width: 70%;
    }

    .dataDisplay .controls {
        bottom: 50%;
        left: 0;
        transform: rotate(90deg) translate(25%,175px);
    }

    .dataContain {
        height: 35vw;
        max-height: 500px;
    }

    .dataImg {
        width: 60vw;
        max-width: 800px;
        transform: rotateX(90deg) rotateY(0);
    }

    .dataActive {
        transform: rotateX(0) rotateY(0);
    }

    .dataImg:not(.dataImg:nth-of-type(2)) {
        height: 38vw;
        max-height: 500px;
        width: 60vw;
        padding-left: 3vw;
    }

    .dataExplain {
        width: 400px;
    }

    .exampleTile:nth-of-type(odd) {
        margin-right: 50%;
    }

    .exampleTile:nth-of-type(even) {
        margin-left: 50%;
    }

    #cv-iframe-embed {
        width: 500px;
        margin: 0 auto;
    }

    .formNotes .logo {
        width: 300px;
    }

    .infoDisplay {
        position: absolute;
        top: 0;
        right: 0;
        left: 250px;
        height: 100%;
        width: auto;
    }

    .infoCard h2 {
        text-align: left;
        margin: 0 50px;
    }

    .infoCard a:first-of-type {
        margin: 10px 0 0 50px;
        border-radius: 20px 5px 5px 5px;
        border-top: 5px solid var(--b);
        border-left: 5px solid var(--b);
        text-align: left;
        background: transparent;
    }

    .infoCard a:first-of-type:hover {
        background: var(--c);
        border-radius: 5px;
    }

    .infoCard p {
        margin: 30px 50px;
    }

    /* || HOW WE HELP */

    h2.helpHeading {
        padding: 20px 0 70px 0;
        width: 500px;
    }

    .hmHeader {
         font-size: 1.5em;
    }

    .hmSubtitle {
         font-size: 1em;
         padding-top: 2px;
    }

}

</style>